<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763542758719-1qs47vsfncbd9j8n7kvvq8ta2ddlffce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763542758719-1qs47vsfncbd9j8n7kvvq8ta2ddlffce</string>
	<key>API_KEY</key>
	<string>AIzaSyDa3QfvN2GccJ6rsweqwOCDxK08AoOkfZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>763542758719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mc3.puhaha.whatdidyoueat</string>
	<key>PROJECT_ID</key>
	<string>puhaha-2f271</string>
	<key>STORAGE_BUCKET</key>
	<string>puhaha-2f271.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763542758719:ios:68464f0a86f8aefe169f8a</string>
</dict>
</plist>