<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257479851890-o47d92b3g2kbe29u3o4a8vem97jcpg68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257479851890-o47d92b3g2kbe29u3o4a8vem97jcpg68</string>
	<key>API_KEY</key>
	<string>AIzaSyCpVAhBeKNzgKD1OWfeZEQ2uGyW3AZJ4Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>257479851890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anjian.Puhaha</string>
	<key>PROJECT_ID</key>
	<string>puhaha-992a2</string>
	<key>STORAGE_BUCKET</key>
	<string>puhaha-992a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257479851890:ios:ba7ff260df5b95cadce7eb</string>
</dict>
</plist>